bcrypt
boto3
botocore
certifi
cffi
chardet
charset-normalizer
cryptography
docker
docutils
idna
jmespath
numpy
paramiko
protobuf==3.20
pycparser
PyNaCl
python-dateutil
requests
s3transfer
six
tabulate
urllib3
websocket-client
